* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 1.5rem;
}

body {
  background: linear-gradient(
    135deg,
    hsl(0 50% 93%) 25%,
    hsl(0 50% 95%) 25%,
    hsl(0 50% 95%) 50%,
    hsl(0 50% 93%) 50%,
    hsl(0 50% 93%) 75%,
    hsl(0 50% 95%) 75%,
    hsl(0 50% 95%) 100%
  );
  background-size: 5rem 5rem;
  animation: bgmovement 60s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  color: hsl(0 100% 35%);
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

a:hover {
  color: hsl(0 100% 55%);
}

@keyframes bgmovement {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}

.container {
  border: 1px solid hsl(0 0% 100%);
  background-color: hsl(0 0% 100% / 0.9);
  backdrop-filter: blur(2rem);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

#countryForm {
  display: flex;
  justify-content: center;
}

#countryInput {
  outline: none;
  border: 1px solid hsl(0 50% 95%);
  background-color: hsl(0 50% 97%);
  color: hsl(0 100% 15%);
  transition: all 150ms;
  padding: 0.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
  font-size: 1rem;
}

#countryInput:hover,
#countryInput:active {
  background-color: hsl(0 50% 95%);
}

#countrySubmit {
  outline: none;
  border: 1px solid hsl(0 100% 85%);
  background-color: hsl(0 100% 87%);
  color: hsl(0 100% 100%);
  transition: all 150ms;
  padding: 0.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
  font-size: 1rem;
}

#countrySubmit:hover,
#countrySubmit:active {
  background-color: hsl(0 100% 85%);
}

#countryResults {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.resultField {
  border: 1px solid hsl(0 50% 95%);
  background-color: hsl(0 50% 97%);
  color: hsl(0 100% 15%);
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  border-radius: 0.5rem;
}
